<span{{ attributes }}>
    {{ form_start(form, {
        'attr': {
            'style': 'display: inline'
        }
    }) }}
    <button type="submit" class="btn btn-link btn-sm text-danger">
        <i class="bi bi-trash"></i>
    </button>
    {{ form_end(form) }}
</span>
